/*--------------------------------------------------------------
# UDS Profile

1. (Manual block)
--------------------------------------------------------------*/
/* Set profile photos to correct size. */
.editor-styles-wrapper {

	.uds-person-profile,
	.uds-person-data {
		&.is-style-small {
			--pic-size: 120px;
		}

		&.is-style-micro {
			--pic-size: 78px;
			--person-name-size: 20px;
			--name-top-margin: 0;
		}

		&.is-style-vertical {
			--pic-size: 120px;
		}
	}
}


/* Remove has-background class from background color selection in the block editor. */
.editor-styles-wrapper .acf-block-preview.wp-block-acf-profile-manual.has-fill-background-color,
.editor-styles-wrapper .acf-block-preview.wp-block-acf-profile-data.has-fill-background-color {
	background-color: transparent !important;
}

/* Prevent accidental clicking of linked elements within the editor */
.editor-styles-wrapper .wp-block-acf-profile-manual,
.editor-styles-wrapper .wp-block-acf-profile-data {
	.person-name a {
		pointer-events: none;
	}

	.person-contact-info a {
		pointer-events: none;
	}

	a.btn {
		pointer-events: none;
	}

	.person-social-medias a {
		pointer-events: none;
	}

	.person-profession a {
		pointer-events: none;
	}
}

/* Establish a minimum width when block is in edit mode. */
.editor-styles-wrapper .wp-block-acf-profile-manual:not(.acf-block-preview),
.editor-styles-wrapper .wp-block-acf-profile-data:not(.acf-block-preview) {
	min-width: 400px;
}

// Ignore the ACF inner wrapper
.editor-styles-wrapper .uds-profile-grid {
	.acf-innerblocks-container {
		display: contents;
	}
}

/**
 * Remove content area left margin when profiles are vertical. This margin
 * separates the image and the text on other layouts, but is not needed when
 * images are above the text.
 */
.editor-styles-wrapper {
	.uds-person-profile.is-style-vertical {
		.person {
			margin-left: 0;
		}
	}
}

/**
 * Editor display of web directory lists of people.
 */

.editor-styles-wrapper .web-directory-placeholder {
	.resultlist {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: .5rem;

		.result {
			border: 2px solid #191919;
			padding: 0 1rem;

			&.excluded {
				border-color: red;
			}

			h4 {
				margin-bottom: 0;
			}
		}

		.grid-break {
			grid-column: 1 / -1;
			border-top: 1px dotted #191919;
			margin: .5rem 0;
		}
	}
}
